<%- include('../base/_head', {seo: data.second.seo}); %>
<%- include('../block/_header', {seo: data.second.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="second_hero__title">対応エリア</h2>
        </div>
    </div>
    <section>
        <div class="container">
            <h2 class="_t-center _fz-40 _fwb _c-main _mt-40"><span class="-wavy">大阪府全域</span>をサポート！</h2>
            <p class="_fwb _t-center _pl-96 _pr-96 _mt-40 _fz-20">
                大阪府で、トイレやお風呂場、台所や洗面台など水回りのトラブルでお困りの方は、おおさか水道職人にご連絡ください。24時間体制で受け付け、年中無休で駆け付けます！</p>
        </div>
    </section>
    <section class="_pt-80 _pb-80">
        <div class="container">
            <h3 class="section-heading">出張可能エリア・市町村</h3>
            <h4 class="section-sub-heading _mt-24 _mb-24">あ行</h4>
            <% const areasA = [
                "池田市", "泉大津市", "泉佐野市", "和泉市", "茨木市", "大阪狭山市", "大阪市中央区", "大阪市旭区", "大阪市阿倍野区", "大阪市生野区", "大阪市北区", "大阪市此花区", "大阪市城東区", "大阪市住之江区", "大阪市住吉区", "大阪市大正区", "大阪市鶴見区", "大阪市天王寺区", "大阪市浪速区", "大阪市西区", "大阪市西成区", "大阪市西淀川区", "大阪市東住吉区", "大阪市東成区", "大阪市東淀川区", "大阪市平野区", "大阪市福島区", "大阪市港区", "大阪市都島区", "大阪市淀川区"
            ]; %>
            <ul class="l-grid-ml">
                <% areasA.forEach(areaA => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaA %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">か行</h4>
            <% const areasK = [
                "貝塚市", "柏原市", "交野市", "門真市", "河内長野市", "岸和田市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasK.forEach(areaK => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaK %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">さ行</h4>
            <% const areasS = [
                "堺市北区", "堺市堺区", "堺市中央区", "堺市西区", "堺市東区", "堺市南区", "堺市美原区", "四條畷市", "吹田市", "摂津市", "泉南郡熊取町", "泉南郡田尻町", "泉南郡岬町", "泉南市", "泉北郡忠岡町"
            ]; %>
            <ul class="l-grid-ml">
                <% areasS.forEach(areaS => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaS %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">た行</h4>
            <% const areasT = [
                "大東市", "高石市", "高槻市", "豊中市", "豊能郡豊能町", "豊能郡能勢町", "富田林市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasT.forEach(areaT => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaT %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">な行</h4>
            <% const areasN = [
                "寝屋川市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasN.forEach(areaN => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaN %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">は行</h4>
            <% const areasH = [
                "羽曳野市", "阪南市", "東大阪市", "枚方市", "藤井寺市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasH.forEach(areaH => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaH %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">ま行</h4>
            <% const areasM = [
                "松原市", "三島郡島本町", "南河内郡太子町", "南河内郡河南町", "南河内郡千早赤阪村", "箕面市", "守口市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasM.forEach(areaM => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""
                            class="_t-under"><span><%- areaM %></span></a></li>
                <% }); %>
            </ul>
            <h4 class="section-sub-heading _mt-24 _mb-24">や行</h4>
            <% const areasY = [
                "八尾市"
            ]; %>
            <ul class="l-grid-ml">
                <% areasY.forEach(areaY => { %>
                <li class="l-grid-ml__cell -col-6 -col-ml-4 -col-lg-3"><a href=""><span
                                class="_t-under"><%- areaY %></span></a></li>
                <% }); %>
            </ul>
        </div>
    </section>
<%- include('../block/_footer', {seo: data.second.seo}); %>