<%- include('base/_head', {seo: data.top.seo}); %>
<%- include('block/_header', {seo: data.top.seo}); %>
<main class="l-main">
    <%- include('block/_hero'); %>
    <section class="_mt-120 _mt-ml-96 _mt-lg-0">
        <div class="container">
            <div class="top-catch relative">
                <picture>
                    <source srcset="../img/catch_sp.png"
                            media="(max-width: 767px)">
                    <img class="_w-auto mx-auto _w-ml-full" src="../img/catch.png" width="954" height="245"
                            alt="トイレ、キッチン・台所、お風呂、洗面所の水漏れ・つまり 大阪の水まわりトラブルは大阪の職人のお任せください。">
                </picture>
                <img class="oosaka _d-none _d-md-block" src="../img/oosaka.png" height="360" width="248" alt="">
            </div>
            <div class="_pl-16 _pr-16 _pl-md-80 _pr-md-80 _lh-175 _mt-16 _mt-md-0">
                <p><strong class="_fwb _fz-md-20 _ls-200">おおさか水道職人は大阪市に拠点を持ち、蛇口からの水漏れやトイレのつまりなど、水まわりで起こるあらゆるトラブルに年中無休で対応可能な水道修理のプロ集団です。</strong>
                </p>
                <p class="_mt-24 _ls-200 _fz-14 _fz-md-16">おおさか水道職人は<strong class="_c-red _fwb">大阪府内全エリアで起きた水道トラブルに対して24時間体制で電話やメールにて受け付けを行っており、急なトラブルでも365日駆けつけ対応が可能</strong>です。
                </p>
                <div class="_mt-16">
                    <a href="#area" class="area-button _d-inline-flex items-center">対応エリア一覧はこちら<span
                                class="chevron _ml-8 -area"></span></a>
                </div>
                <p class="_mt-24 _ls-200 _fz-14 _fz-md-16">実際に作業スタッフが現場を確認し、<strong
                            class="_c-red _fwb">無料でお見積り</strong>をご提示させていただき、<strong class="_t-under">お見積もり内容にご納得いただいた場合のみ</strong>作業を行わせていただきます。作業は地元大阪に常駐する自社スタッフが、現場の確認から修理作業の完了報告まで迅速・丁寧にご対応いたします。お支払い方法も、作業完了後の現金支払い以外にも各種クレジットカードや銀行振り込み、コンビニ決済と急なトラブルで手持ちがない時でもご安心いただけるようご用意しております。
                </p>
                <p class="_mt-24 _ls-200 _fz-14 _fz-md-16">
                    身のまわりで発生した水道管からの漏水、トイレ・お風呂・洗面所でのつまりや蛇口からの水漏れ、給湯器のトラブル全般でお困りの場合にはおおさか水道職人にお任せください。</p>
            </div>
        </div>
        <div class="relative _mt-md-32">
            <div class="">
                <img class="water _d-none _d-md-block" src="../img/bg_water_01.png" width="1500" height="475" alt="">
                <img class="_d-md-none" src="../img/worker_water_sp.png" height="574" width="828" alt="">
            </div>
            <div class="container relative _d-none _d-md-block">
                <div class="top-img-list">
                    <img src="../img/top_img_list.png" width="1143" height="255" alt="">
                </div>
                <div class="worker">
                    <img src="../img/worker_01.png" width="149" height="218" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-img2 _pt-96 _pb-96 relative">
        <div class="container">
            <h2 class="sec2-head">
                <picture>
                    <source srcset="../img/top_sec01_heading_sp.png"
                            media="(max-width: 767px)">
                    <img class="_w-auto mx-auto _w-ml-full" src="../img/top_sec01_heading.png" width="940"
                            height="151" alt="">
                </picture>
            </h2>
            <% const cards = [
                {
                    thumbnail: "../img/top_sec01_thumb1.jpg",
                    alt: "蛇口",
                    numberImg: "../img/bubble_01.png",
                    headingTop: "水まわりの",
                    headingBottom: "「専門家」",
                    content: "身のまわりで起きる水トラブルは実に様々です。各現場それぞれにトラブルの内容やご使用されている水栓機器も異なります。<strong class='_fwb _t-under'>おおさか水道職人のサービススタッフは、全員が厳しい研修をクリアした自社スタッフ</strong>のため、水まわりに関する豊富な知識や経験を持ち、蛇口からの水漏れやトイレつまりの他、給水管・給湯管工事一式、給湯器や井戸ポンプの交換など、水まわりに関する工事なら幅広くご対応させていただきます。"
                },
                {
                    thumbnail: "../img/top_sec01_thumb2.jpg",
                    alt: "スタッフとヒアリングするお客さま",
                    numberImg: "../img/bubble_02.png",
                    headingTop: "水まわりの",
                    headingBottom: "「ホームドクター」",
                    content: "水のトラブルはいつも決まった場所で起きるわけではありません。対応方法はトラブルやご要望の内容によって何通りも存在します。だからこそ、状況に応じた臨機応変な対応や正確な原因特定を大切にし、<strong class='_fwb _t-under'>お客様のホームドクター（かかりつけ医）として、診断から修理まで責任を持って行わせていただきます。</strong><br>トラブル箇所以外にも気になることがございましたら、その場で<strong class='_fwb'>無料点検</strong>も行っております。"
                },
                {
                    thumbnail: "../img/top_sec01_thumb3.jpg",
                    alt: "スタッフとヒアリングするお客さま",
                    numberImg: "../img/bubble_03.png",
                    headingTop: "水まわりの",
                    headingBottom: "「未来提案」",
                    content: "水道職人では、修理や交換などのトラブルの解消だけに留まらず、<strong class='_fwb _t-under'>お客様にとってより快適でライフスタイルにも合った、今後の生活を1番に考えたご提案</strong>をさせていただきます。現在水まわりでお使いの蛇口やトイレなどの水栓機器も、種類や場所を変えるだけで便利で快適な生活を送ることが可能です。ご使用状況や、ご不満に思われている点などをしっかりとヒアリングさせていただき、未来につながるご提案を大切にしております。"
                }
            ]; %>
            <div class="l-grid-large">
                <% cards.forEach(card => { %>
                <div class="l-grid-large__cell -col-ml-4">
                    <section class="card">
                        <div class="card__inner">
                            <div class="card__number">
                                <img class="_w-auto" src="<%- card.numberImg %>" width="96" height="105" alt="">
                            </div>
                            <div class="card__header">
                                <div class="card__thumbnail">
                                    <img src="<%- card.thumbnail %>" width="334" height="222" alt="">
                                </div>
                                <h3 class="pri-line _t-center _lh-1 _mt-16"><span
                                            class="_c-main _fwb _fz-20"><%- card.headingTop %></span>&NewLine;<span
                                            class="_fz-40 _fwb _c-main"><%- card.headingBottom %></span></h3>
                            </div>
                            <div class="card__body _mt-16">
                                <p class="_lh-2 _ls-150"><%- card.content %></p>
                            </div>
                        </div>
                    </section>
                </div>
                <% }); %>
            </div>
            <div class="_t-center _mt-40">
                <a href="" class="more-button -bg-blue-gradient">詳しく見る<span class="chevron -more"></span></a>
            </div>
        </div>
    </section>
    <section class="_pb-80">
        <div class="container">
            <h2><img class="_w-auto _w-md-full mx-auto" src="../img/top_sec02_heading.png" width="460" height="136"
                        alt="水まわりのトラブルは水道職人にお任せ！サービス内容"></h2>
            <div class="l-grid-ml _mt-64">
                <% const iconCards = [
                    {
                        icon: "../img/icon_toilet.png",
                        heading: "トイレ",
                        thumbnail: "../img/top_sec02_toilet.jpg",
                        alt: "トイレ",
                        link: "/"
                    },
                    {
                        icon: "../img/icon_kitchen.png",
                        heading: "キッチン",
                        thumbnail: "../img/top_sec02_kitchen.jpg",
                        alt: "キッチン",
                        link: "/"
                    },
                    {
                        icon: "../img/icon_bath.png",
                        heading: "お風呂",
                        thumbnail: "../img/top_sec02_bath.jpg",
                        alt: "お風呂",
                        link: "/"
                    },
                    {
                        icon: "../img/icon_washroom.png",
                        heading: "洗面所",
                        thumbnail: "../img/top_sec02_washroom.jpg",
                        alt: "洗面所",
                        link: "/"
                    }
                ]; %>
                <% iconCards.forEach(iconCard => { %>
                <div class="l-grid-ml__cell -col-md-6 -col-ml-3 _mb-32 _mb-ml-0">
                    <section class="card-icon">
                        <div class="card-icon__icon">
                            <img class="_w-auto" src="<%- iconCard.icon %>" width="72" height="72" alt="">
                        </div>
                        <div class="card-icon__inner">
                            <div class="card-icon__header">
                                <h3 class="pri-line _t-center _fwb"><span
                                            class="card-icon__heading -marker"><%- iconCard.heading %></span>&NewLine;<span
                                            class="_c-main">の水漏れ・つまり</span></h3>
                                <div class="card-icon__thumbnail _mt-12">
                                    <img src="<%- iconCard.thumbnail %>" width="260" height="174" alt="">
                                </div>
                            </div>
                            <div class="card-icon__body _mt-16">
                                <div class="bubble-yellow"><p class="bubble-yellow__text pri-line"><span
                                                class="bubble-yellow__text-top">WEB割ご利用で</span>&NewLine;<strong
                                                class="bubble-yellow__text-bottom">3,000円OFF</strong></p></div>
                                <p class="_c-red _fwb _fz-40 _ls-0 _lh-1">2,000<span class="_fz-16 _fwb">円〜</span></p>
                            </div>
                            <div class="card-icon__footer _mt-16">
                                <a class="more-button-rounded -bg-blue-gradient" href="<%- iconCard.link %>">詳細はこちら<span
                                            class="chevron -more"></span></a>
                            </div>
                        </div>
                    </section>
                </div>
                <% }); %>
            </div>
            <% const horizontalCards = [
                {
                    headingTop: "給湯器ポンプ",
                    headingBottom: "のトラブル",
                    thumbnail: "../img/top_sec02_pomp.jpg",
                    alt: "給湯器",
                    link: "../"
                },
                {
                    headingTop: "排水口・排水管",
                    headingBottom: "の水漏れ・つまり",
                    thumbnail: "../img/top_sec02_haisui.jpg",
                    alt: "給湯器",
                    link: "/"
                },
                {
                    headingTop: "屋外・水栓柱",
                    headingBottom: "の水漏れ・つまり",
                    thumbnail: "../img/top_sec02_okugai.jpg",
                    alt: "給湯器",
                    link: "/"
                }
            ]; %>
            <div class="l-grid-ml _mt-24">
                <% horizontalCards.forEach(horizontalCard => { %>
                <div class="l-grid-ml__cell -col-md-6 -col-ml-4">
                    <section class="card-horizontal">
                        <div class="card-horizontal__inner">
                            <div class="card-horizontal__header">
                                <div class="card-horizontal__thumbnail">
                                    <img src="<%- horizontalCard.thumbnail %>" width="120" height="180"
                                            alt="<%- horizontalCard.alt %>">
                                </div>
                            </div>
                            <div class="card-horizontal__body">
                                <h3 class="_c-main _fwb pri-line">
                                    <span class="_fz-24"><%- horizontalCard.headingTop %></span>&NewLine;<span><%- horizontalCard.headingBottom %></span>
                                </h3>
                                <div class="_dis-center-between _mt-8">
                                    <div class="bubble-yellow -second"><p class="bubble-yellow__text pri-line"><span
                                                    class="bubble-yellow__text-top">WEB割ご利用で</span>&NewLine;<strong
                                                    class="bubble-yellow__text-bottom">3,000円OFF</strong></p></div>
                                    <p class="_t-right _t-ml-left _fz-32 _fz-ml-24 _fz-md-32 _c-red _fwb _lh-1 _d-flex items-center _mt-8 _mt-ml-0">
                                        2,000<span
                                                class="_d-ml-inline-flex flex-col _fz-12"><span>円</span><span>〜</span></span>
                                    </p>
                                </div>
                                <div class="card-horizontal__footer _mt-8">
                                    <a class="more-button-rounded -bg-blue-gradient" href="<%- horizontalCard.link %>">詳細はこちら<span
                                                class="chevron -more"></span></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <% }); %>
            </div>
        </div>
    </section>
    <section class="bg-img3 _pt-80 _pb-120">
        <div class="container">
            <h2 class="section-heading">ご利用の流れ</h2>
            <div class="l-grid-ml _mt-40">
                <div class="l-grid-ml__cell -col-md-6 -col-ml-3">
                    <div class="chevron-card -triangle">
                        <div class="chevron-card__inner">
                            <div class="chevron-card__header">
                                <div class="chevron-card__thumbnail">
                                    <img src="../img/top_sec03_01.jpg" width="258" height="172" alt="">
                                    <span class="chevron-card__number">01</span>
                                </div>
                                <h3 class="chevron-card__heading">受付</h3>
                            </div>
                            <div class="chevron-card__content">
                                <p>突然の水漏れやトイレのつまりなど、水のトラブルが起きた時には、<strong class="_fwb">24時間365日いつでも</strong><br>「0120-492-315」までお電話ください。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-grid-ml__cell -col-md-6 -col-ml-3">
                    <div class="chevron-card -triangle -second">
                        <div class="chevron-card__inner">
                            <div class="chevron-card__header">
                                <div class="chevron-card__thumbnail">
                                    <img src="../img/top_sec03_02.jpg" width="258" height="172" alt="">
                                    <span class="chevron-card__number">02</span>
                                </div>
                                <h3 class="chevron-card__heading">お見積もり</h3>
                            </div>
                            <div class="chevron-card__content"><p>
                                    お客様から伺った内容を確認し、水まわりのプロスタッフが<strong class="_fwb">最短30分〜1時間で駆け付け</strong>ます。到着後は、しっかりと原因の究明を行わせていただきます。蛇口からの水漏れ、排水のつまり、トイレの修理など多様なトラブルに対応可能です。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-grid-ml__cell -col-md-6 -col-ml-3">
                    <div class="chevron-card -triangle">
                        <div class="chevron-card__inner">
                            <div class="chevron-card__header">
                                <div class="chevron-card__thumbnail">
                                    <img src="../img/top_sec03_03.jpg" width="258" height="172" alt="">
                                    <span class="chevron-card__number">03</span>
                                </div>
                                <h3 class="chevron-card__heading">出張・点検</h3>
                            </div>
                            <div class="chevron-card__content">
                                <p>点検結果を元に、修理費用・内容を明記した<strong class="_fwb">無料のお見積り</strong>を提示いたします。作業やご説明内容に不明点がございましたら、遠慮なく担当スタッフにご相談ください。<strong
                                            class="_fwb">お見積り内容にご納得・ご署名いただかなければ修理は行いません。</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-grid-ml__cell -col-md-6 -col-ml-3">
                    <div class="chevron-card">
                        <div class="chevron-card__inner">
                            <div class="chevron-card__header">
                                <div class="chevron-card__thumbnail">
                                    <img src="../img/top_sec03_04.jpg" width="258" height="172" alt="">
                                    <span class="chevron-card__number">04</span>
                                </div>
                                <h3 class="chevron-card__heading">修理</h3>
                            </div>
                            <div class="chevron-card__content">
                                <p>
                                    弊社の熟練スタッフが、迅速かつ丁寧なトラブル解決を行います。作業後は修理箇所をお客様にご確認いただき作業完了、費用のお支払いとなります。お支払い方法は現金・クレジットカード・銀行振込・コンビニ決済がお選びいただけます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="area" class="_pt-80 _pb-80">
        <div class="container relative">
            <img class="worker-catch" width="476" height="348" src="../img/top_sec04_worker.png" alt="">
            <h2 class="section-heading -area">対応エリア</h2>
            <%
            const areas = [
                {
                    areaInitial: "あ行",
                    areaName: "池田市／泉大津市／泉佐野市／和泉市／茨木市／大阪挟山市／大阪市中央区／大阪市旭区／大阪市阿倍野区／大阪市生野区／大阪市北区／大阪市此花区／大阪市城東区／大阪市住之江区／大阪市住吉区／大阪市大正区／大阪市鶴見区／大阪市天王寺区／大阪市浪速区／大阪市西区／大阪市西成区／大阪市西淀川区／大阪市東住吉区／大阪市東成区／大阪市東淀川区／大阪市平野区／大阪市福島区／大阪市港区／大阪市都島区／大阪市淀川区"
                },
                {
                    areaInitial: "か行",
                    areaName: "貝塚市／柏原市／交野市／門真市／河内長野市／岸和田市"
                },
                {
                    areaInitial: "さ行",
                    areaName: "堺市北区／堺市堺区／堺市中区／堺市西区／堺市東区／堺市南区／堺市美原区／四條畷市／吹田市／摂津市／泉南郡熊取町／泉南郡田尻町／泉南郡岬町／泉南市／泉北郡忠岡町"
                },
                {
                    areaInitial: "た行",
                    areaName: "大東市／高石市／高槻市／豊中市／豊能郡豊能町／豊能郡能勢町／富田林市"
                },
                {
                    areaInitial: "な行",
                    areaName: "寝屋川市"
                },
                {
                    areaInitial: "は行",
                    areaName: "羽曳野市／阪南市／東大阪市／枚方市／藤井寺市"
                },
                {
                    areaInitial: "ま行",
                    areaName: "松原市／三島都島本町／南河内都太子町／南河内都河南町／南河内都千早赤坂村／箕面市／守口市"
                },
                {
                    areaInitial: "や行",
                    areaName: "八尾市"
                }
            ]; %>
            <div class="area-list _mt-32">
                <div class="area-list__inner">
                    <dl>
                        <% areas.forEach(area => { %>
                        <div class="area-list__box">
                            <dt class="area-list__head"><%- area.areaInitial %></dt>
                            <dd class="area-list__body"><%- area.areaName %></dd>
                        </div>
                        <% }); %>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-img4 _pb-80 _pt-80">
        <div class="container">
            <div class="diary-head _d-md-flex items-center justify-between">
                <h2 class="section-heading">お客様の声・施工日記</h2>
                <div class="diary-head__right _d-flex items-center">
                    <div class="diary-head__bubble">
                        <p class="_fz-12 _fz-md-14">ただいま<span class="_fz-24 _c-main -marker _fwb">123</span><span
                                    class="_c-main _fwb -marker">件</span>の<br class="_d-md-none">お客様の声・施工日記を公開中！</p>
                    </div>
                    <div class="">
                        <img class="_w-auto" src="../img/worker_02.png" width="103" height="113" alt="">
                    </div>
                </div>
            </div>
            <% const diaries = [
                {
                    thumbnail: "../img/sample01.jpg",
                    category: "トイレ",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample02.jpg",
                    category: "洗面台",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample03.jpg",
                    category: "お風呂",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample04.jpg",
                    category: "キッチン",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample01.jpg",
                    category: "キッチン",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample02.jpg",
                    category: "トイレ",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample03.jpg",
                    category: "洗面台",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample04.jpg",
                    category: "お風呂",
                    heading: "大阪府〇〇〇〇〇〇〇へトイレつまり除去で伺いました。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                }
            ]; %>
            <div class="l-grid-large _mt-48 overflow-y-auto">
                <% diaries.forEach(diary => { %>
                <div class="l-grid-large__cell -col-md-6 -col-lg-3 -scroll">
                    <a href="/" class="diary-card">
                        <div class="diary-card__category">
                            <p><%- diary.category %></p>
                        </div>
                        <div class="diary-card__inner">
                            <div class="dirry-card__header">
                                <div class="diary-card__thumbnail">
                                    <img src="<%- diary.thumbnail %>" width="270" height="180" alt="">
                                </div>
                                <h3 class="_c-main _fwb _mt-16 _ls-100"><%- diary.heading %></h3>
                            </div>
                            <div class="diary-card__body _mt-16 _fz-14 _ls-100">
                                <p><%- diary.content %></p>
                            </div>
                            <div class="diary-card__footer">
                                <p class="_fz-12 _c-gray _mt-8">
                                    <time datetime="2020-12-01">2020.12.01</time>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <div class="_t-center _mt-40">
                <a href="" class="more-button -small -bg-blue-gradient">一覧へ<span class="chevron -more"></span></a>
            </div>
        </div>
    </section>
    <section class="_pt-96 _pb-md-96 _pb-144">
        <div class="container">
            <h2 class="section-heading">水のコラム</h2>
            <% const columns = [
                {
                    thumbnail: "../img/sample01.jpg",
                    heading: "コラムのタイトルが入ります。これはサンプルテキストです。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample02.jpg",
                    heading: "コラムのタイトルが入ります。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample03.jpg",
                    heading: "コラムのタイトルが入ります。これはサンプルテキストです。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                },
                {
                    thumbnail: "../img/sample04.jpg",
                    heading: "コラムのタイトルが入ります。これはサンプルテキストです。長文のサンプルになります。",
                    content: "いつもおおさか水道職人の修理報告をご覧いただきありがとうございます。[依頼場所] 大阪府〇〇..."
                }
            ]; %>
            <div class="l-grid-large _mt-48 overflow-y-auto  _pt-0">
                <% columns.forEach(column => { %>
                <div class="l-grid-large__cell -col-md-3 -scroll">
                    <a href="/" class="column-card">
                        <div class="column-card__inner">
                            <div class="column-card__header">
                                <div class="column-card__thumbnail">
                                    <img src="<%- column.thumbnail %>" width="270" height="180" alt="">
                                </div>
                                <h3 class="_c-main _fwb _lh-2 _ls-100 _mt-8"><%- column.heading %></h3>
                            </div>
                            <div class="column-card__body _fz-14 _ls-100 _lh-2 _mt-8">
                                <p><%- column.content %></p>
                            </div>
                            <div class="column-card__footer">
                                <p class="_fz-12 _c-gray _mt-8">
                                    <time datetime="2020-12-01">2020.12.01</time>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <div class="_t-center _mt-40">
                <a href="" class="more-button -small -bg-blue-gradient">一覧へ<span class="chevron -more"></span></a>
            </div>
        </div>
    </section>
<%- include('block/_footer', {seo: data.top.seo}); %>