<%- include('../base/_head', {seo: data.second.seo}); %>
<%- include('../block/_header', {seo: data.second.seo}); %>
<main class="l-main">
    <div class="second_hero">
        <div class="second_hero__inner">
            <h2 class="second_hero__title">会社情報</h2>
        </div>
    </div>
    <section class="_pt-80 _pb-80">
        <div class="container">
            <div class="_pl-80 _pr-80">
                <h2 class="section-heading">会社概要</h2>
                <div class="_mt-32">
                    <dl>
                        <% const companies = [
                            {
                                head: "会社名",
                                body: "株式会社MIZU SAPO"
                            }, {
                                head: "所在地",
                                body: "大阪市"
                            }, {
                                head: "連絡先",
                                body: "0120-492-315"
                            }, {
                                head: "設立",
                                body: "平成24年10月"
                            }, {
                                head: "資本金",
                                body: "500万円"
                            }, {
                                head: "事業内容",
                                body: "水道緊急メンテナンス業"
                            }
                        ]; %>
                        <% companies.forEach(company => { %>
                        <div class="company-group">
                            <dt class="company-group__head _fwb"><%- company.head %></dt>
                            <dd class="company-group__body"><%- company.body %></dd>
                        </div>
                        <% }); %>
                    </dl>
                </div>
            </div>
        </div>
    </section>

    <section class="_pb-80">
        <div class="container">
            <div class="_pl-80 _pr-80">
                <h2 class="section-heading">アクセス</h2>
                <address class="_mt-24">〒000-0000 大阪府〇〇〇〇〇〇〇〇〇〇〇〇</address>
                <iframe class="_mt-24"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26248.72393396675!2d135.4906114133188!3d34.67766552863993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e86b2acc70d7%3A0xa399ff48811f596d!2z5aSn6Ziq5bqc!5e0!3m2!1sja!2sjp!4v1608100834271!5m2!1sja!2sjp"
                        width="600" height="450" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                <div class="_mt-24 _t-right">
                    <a class="more-button-rounded _w-auto _pl-48 _pr-48 -bg-blue-gradient" href="">Google mapで見る<span
                                class="chevron -more"></span></a>
                </div>
            </div>
        </div>
    </section>
<%- include('../block/_footer', {seo: data.second.seo}); %>